{% extends "base.html" %}


{% block header %}
<li><a href="/index">Evyavan</a></li>
{% endblock %}

{% block content %}
<div class = "container">
	<h1>Professional Relationships</h1>
	<hr>
	<div class = "row">
		<div class = "col-lg-8">
		<p>At Evyavan, we believe it is crucial to develop professional relationships to expand the scope of our business and to leverage the power of great minds. We are fortunate to be well-established in the local community and in the community of investment advisors and high-net-worth individuals.</p>
		<p>The most important relationship we develop at Evyavan is with our client, because only you know best what you want your wealth to achieve. We are interested and enthusiastic about working with anyone who broadly fits with our company’s values and goals. Even if we are not the right company to serve your needs, we are more than happy to recommend you to other wealth advisors that can. Feel free to give us a call and speak with us!</p>
		<p>In addition to our client relationships, we have developed a strong network of financial advisors, lawyers, and other insurance and estate planning professionals to help us extend the range of our services and to make sure we are providing the greatest value to you. Of course, we are also eager to work closely with your personal advisors to properly address your needs.</p>
			
		</div>
		<div class = "col-lg-3 col-lg-offset-1">
			<img class = "img-responsive" src = "/static/Prof_Relationships.jpg">
		</div>
	</div>
</div>

{% endblock %}