{% extends "base.html" %}
{% block header %}
<li><a href="/index">Evyavan</a></li>
{% endblock %}

{% block content %}
<div class = "container">
	<h1>Humble beginnings</h1>
	<hr>
	<div class = "row">
		<div class = "col-lg-8">
			<p>“Tej, what do your clients mean to you?”</p>
			<p>This question came up as I was sharing ideas with a new member of our company regarding the value of our client relationships. But the truth is: you can’t put a relationship into words. She had seen me speaking with clients on the phone at the oddest hours, discussing everything from investment and retirement ideas to the newest developments in their lives. We talk about their children’s college choices, their daughter’s wedding plans, our favorite restaurants in town, and the latest blockbuster films. Perhaps that’s why she couldn’t discern a replicable routine in my “business model.” None of my clients are identical, and neither are our relationships.</p>
			<p>From a young age, I was both blessed and cursed with the burden of responsibility. Without my parents around to care for me, I looked after my younger brother and took on the role as the head of the household. If there was one thing that this responsibility demonstrated to me, it was that burdens like these are not reserved for myself- they are shared across individuals from all walks of life. Few aspects of human nature transcend the socioeconomic spectrum as vigorously as family. That is why I founded Evyavan Advisory Services in 2003; not only to provide a service to my clients, but to allow them to focus on what is truly important, the relationships and responsibilities that all humans share rather than fall to prey to what is trivial at the end of the day. It is my acknowledgement of these aspects of humanity and my commitment to treating my clients as more than just entries in a spreadsheet that differentiates me from my competition.</p>
			<p>And that’s also why I love my job as an independent wealth manager. I get the chance to meet so many different people, listen to their life stories, and most importantly, make a positive impact on their lives. With my job comes a huge amount of responsibility, which I have embraced ever since my parents had passed. Money is ever so important, and my clients are trusting me enough to put large portions of their wealth into my hands. I am humbled by the trust and love that I share with my clients and have learned to treat every one of them like family. I treat every one of my clients the same way as I treated my younger brother after our parents had passed - with love, passion, and full responsibility.</p>
			<p>Working at a large institution, it was difficult to develop real relationships with my clients. At Evyavan, though, I am able to share my experience in wealth management with my clients in an honest and transparent manner. I am able to learn from them the stories behind the money, how hard they have worked and how much they have sacrificed to achieve prosperity for themselves and their families. In a way, my clients are my own extended family, so I make sure they experience the level of commitment and service that family deserves.</p>
			<p>If you are interested in becoming a part of our family, please don’t hesitate to contact us. I can be reached by phone or email at any time, and would be happy to meet you at a time and place of your convenience to discuss our services further.</p>
			<p align = "right">Tej Patel</p>
			<p align = "right">President and CEO </p>
		</div>
		<div class = "col-lg-3 col-lg-offset-1">
			<img class = "img-responsive" src = "/static/tej.jpg">
		</div>
	</div>
</div>

{% endblock %}