{% extends "base.html" %}
{% block header %}
<li><a href="/index">Evyavan</a></li>
{% endblock %}

{% block content %}
<div class = "container">
	<h1>Understanding the situation</h1>
	<hr>
	<div class = "row">
		<div class = "col-lg-8">
			<p>It’s hard to be fully prepared for what the future has in store for us. However, there are many ways the markets can be predictable, especially over the long-term. There are some critical questions you should be asking yourself to ensure you are minimizing your financial risk and capitalizing on market opportunities throughout your life: Who is advising you on overall and individual asset balancing and allocation decisions? How are you managing the interrelationship of your investments, funds, and managers? How would your ability to accomplish your goals be affected if the investment that makes up over 20% of your portfolio loses 30% or more of its market value?</p>
			<p>Feelings make us human, but they should never guide investment decisions. When investors try to manage their own assets based on emotions, decisions are almost always based on recent market happenings, making their portfolio ‘trail’ market-performance. To preserve capital, generate ongoing income, and address future needs, it is necessary to have unbiased structuring, diversification, and continuous evaluation of your portfolio in order to accomplish your goals and to stay ahead of the curve.</p>
			<p>Effective strategizing and planning requires experience, expertise, and time. At Evyavan Advisory Services, we make sure to ask the right questions and get the answers you really need. You can invest in a lasting relationship that will save you time and energy while protecting your assets.</p>
		</div>
		<div class = "col-lg-3 col-lg-offset-1">
			<img class = "img-responsive" src = "/static/tej.jpg">
		</div>
	</div>
</div>

{% endblock %}