{% extends "base.html" %}


{% block header %}
<li><a href="/index">Evyavan</a></li>
{% endblock %}

{% block content %}
<div class = "container">
	<h1>The unknown</h1>
	<hr>
	<p>To call the markets unstable is an understatement. In 2000, we saw an era of irrational exuberance with the coming of the ‘Dot-Com’ Bomb, followed by the ‘Free Money’ Bubble created by a low Federal Funds Rate in 2002 – 04. Later, in late 2007, the entire globe plunged into the great recession with the Subprime saga. Then the 2010 Flash Crash once again made investors uneasy. We rode the waves, bore our losses, but what knowledge do we carry forward as we move on?</p>
	
	<div class = "row">
		<div class = "col-lg-6">
			<div>
				<img src = "/static/quant.jpg" align = "left" height = "200" width = "300">
				<h3 align = "right">Observations</h3>
				<p align = "right">The markets are as volatile and as exposed as ever to global events. We have to think at a higher level to account for all the previously unconsidered variables.</p>
			</div>
		</div>
		<div class = "col-lg-6">
			<div>
				<img src = "/static/finance.jpg" align = "left" height = "200" width = "300">
				<h3 align = "right">Our edge</h3>
				<p align = "right">We meticulously analyze worldwide events and leverage our vast experience gives us unique investment insights. No one's harder on us than us; we continuously evaluate ourselves against appropriate benchmarks tailored to your risk appetite.</p>
			</div>
		</div>
	</div>

	<br></br>
	<h2>Attitude defines altitude</h2>
	<p>In 1896, when the now-prestigious New York Times was in shambles, financier JP Morgan decisively took up the wrecks, remodeled the business, and raised it to become the high-quality media house that it is today. In fact, starting from his first day as a junior at Duncan, Sherman and Co, Morgan had never been afraid to take risks and go after opportunities when they presented themselves, that’s how he safely led Wall Street through the Panic of 1907 when banks were going bankrupt, pushed for the creation of our Federal Reserve System, and became one of the most legendary bankers in American history. Morgan’s success was sealed by an ultimate compliment made by Wall Street Journal: “God made the world in 4004 B.C. and it was reorganized in 1901 by J.P. Morgan.”</p>

	<p>John Paulson, another innovative thinker, bet against the housing market, anticipated widespread default, and his fund made $15 bn. Much like the business giants of a century ago, Paulson also made very daring acquisitions, such as IndyMac bank, which had been devastated by the subprime mortgage crisis. His radar for opportunities is proved sharp and accurate when this $1.55bn investment got recouped in less than a year.</p>

	<p>Our goal is to continuously search for these kinds of insights, and bring you the benefits.</p>

</div>

{% endblock %}