{% extends "base.html" %}
{% block header %}
<li><a href="/index">Evyavan</a></li>
{% endblock %}

{% block content %}
<div class = "container">

	<h1>Why Evyavan</h1>
		<div class = "row">
			<div class="col-lg-12">
				<hr>
				<p>
					Changing financial advisors is a big step in your life, but may be one towards the right direction. At Evyavan, our staff of highly qualified financial professionals take pride in providing you the highest quality services for the lowest rates. As a well-established boutique firm serving the greater New York and New Jersey community, we take the time to get to know each of our prospective clients on a personal basis before taking them on board. By establishing such a close connection, we learn about the hardships, sufferings, and pains that went into the making of each dollar. Your unique life circumstance allows for your story to inspire and motivate us in the careful and successful management of your account. And more importantly, it allows for a compelling client-manager relationship to develop and grow. At Evyavan, our first priority is to invest your wealth according to your needs and your life circumstances.
				</p>

				<p>
					We believe a great business clearly defines its values and constantly reinforces them. Our values are integrity, transparency, and compassion. This means:
				</p>

				<ul>
					<li>No conflicts of interest - we make sure to serve your best interests</li>
					<li>Clear and understandable investment advice - our job is to simplify the complex</li>
					<li>Contact us at any time of day - we are happy to answer any of your questions</li>
				</ul>
			</div>
		</div>
		<br></br>
	<hr>
	<h2>Our three-step process</h2>
	<br></br>
	<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class= "img-responsive" src="/static/indianfam.jpg">
          <h2>Evaluate your present</h2>
          <p>We conduct a meticulous financial physical to understand where you come from. This way we can outline a plan for the future.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-responsive" src="/static/retire.jpg">
          <h2>Plan your future</h2>
          <p>We assess what your financial goals are, taking everything into consideration. </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-responsive" src="/static/investing.jpg">
          <h2>Bridge the gap</h2>
          <p>We use our considerable experience and resources to help you reach your goals.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
		<br></br>
	</div>
	
	<h2>Comprehensive services</h2>
	<div class = "row">
		<div class = "col-lg-6">
			<div>
				<img src = "/static/invest.png" align = "left" height = "200" width = "300">
				<h3 align = "right">Brokerage</h3>
				<p align = "right">Equity investments, fixed income, mutual funds, unit investment trusts, exchange traded funds, risk management strategies</p>
			</div>
		</div>
		<div class = "col-lg-6">
			<div>
				<img src = "/static/fam.jpg" align = "left" height = "200" width = "300">
				<h3 align = "right">Asset allocation and management</h3>
				<p align = "right">Separate account management, fee-based management services, consulting services, insurance, alternative investments</p>
			</div>
		</div>
	</div>
	<br></br>
	<div class = "row">
		<div class = "col-lg-6">
			<div>
				<img src = "/static/egg.jpg" align = "left" height = "200" width = "300">
				<h3 align = "right">Retirement</h3>
				<p align = "right">IRA accounts, tax considerations, 401k accounts, business succession, inheritance, estate</p>
			</div>
		</div>
		<div class = "col-lg-6">
			<div>
				<img src = "/static/money.jpg" align = "left" height = "200" width = "300">
				<h3 align = "right">Corporate and other</h3>
				<p align = "right">Profit-sharing, money purchase plans, defined benefit plans, liquidation strategies, restricted stock transactions, corporate stock options, margin facilities, money market, valuations</p>
			</div>
		</div>
	</div>

</div>





{% endblock %}